# dependencies
node_modules/
packages/*/package-lock.json
package-lock.json

# build and test
dist/
esm/
build/

# logs
yarn-error.log
npm-debug.log
lerna-debug.log
local.log

#misc
.DS_Store
.Trashes
